body 
{
    margin:auto;
    background-image: url(images/image\ fond\ site\ black.avif);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1450px;   
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    transition: transform 0.5s ease;     
}

a:hover {
    color: blue;     
}

a:hover .cursor {
    transform: scale(1.5);
    background-color: #00ff00;   
    
}

img {
    transition: transform 0.5s ease;
}

img:hover {
    transform: scale(1.2);
}

.mesappfav>ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
    font-size: 30px;
    background-color: burlywood;
    transition: transform 0.5s ease;

}

.accueil {
    font-size: 25px;
}

.titre {
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logoapp1 {
    width: 180px;
    height: 100px;

}

.logoapp2 {
    width: 160px;
    height: 80px;
}

.logoapp3 {
    width: 180px;
    height: 105px;
}

h1 
{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 80px;
    margin-bottom: 50px;
    color: white;
    font-style: italic;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: blueviolet;
}

p 
{
    font-family: monospace;
    text-decoration: dotted;
    font-size: 18px;
    color: whitesmoke;
}

b 
{
    font-size: 20px;
    color: brown;
}

.presentation 
{
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.descriptiontwitch 
{
    margin-right: 20px;
}